# IDE settings
/.vscode


# Keys and secrets
**/*.pem


# Python
/.venv
**/__pycache__
**/*.pkl


# ESP32 project artifacts
**/sdkconfig
**/sdkconfig.old
**/build


# Dataset
/dataset
**/*.tar.gz


# Sketches
**/*.excalidraw


# Playground
/playground